<!DOCTYPE html>
<html>
  <head>
    <title>Photo album for {{ name }}</title>
    <meta charset="utf-8" />
  </head>
  <body>
<h1>Photo album for {{ name }}</h1>
<ul>
  {{#imageID}}<li>
    <a href="/getImage/{{ . }}"><img src="/getImage/{{ . }}" style="width:200px">
     </a>
    <form action = "/deleteImage/{{ . }}" method="GET">
      <input type = "submit" value = "Delete image" />
    </form>
  </li>
  {{/imageID}}
</ul>

  </form>
  </body>
</html>
